.main-tables-container {
    display: flex;
    width: 920px;
    margin: 0 auto;
}

.product-cards--container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 920px;
    margin: 0 auto;
}

.plans-container--slider {
    justify-content: center;
}

